/* Botão FAB */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background 0.2s, color 0.2s;
  background-color: var(--fab-bg);
  color: var(--fab-color);
}

.fab:hover {
  background-color: var(--fab-hover-bg);
}

.container {
  display: flex;
  gap: 6px;
}

/* Botões base */
.editBtn,
.deleteBtn {
  border: none;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, color 0.2s ease;
}

/* Botão editar */
.editBtn {
  background-color: #f3f4f6; /* cinza bem claro */
  color: #2563eb; /* azul padrão */
}
.editBtn:hover {
  background-color: #dbeafe; /* azul suave */
  color: #1e40af; /* azul mais escuro */
}

/* Botão excluir */
.deleteBtn {
  background-color: #f3f4f6; /* cinza bem claro */
  color: #dc2626; /* vermelho */
}
.deleteBtn:hover {
  background-color: #fee2e2; /* vermelho claro */
  color: #b91c1c; /* vermelho mais escuro */
}



.tableContainer {
  width: 100%;
  overflow-x: auto; /* rolagem horizontal em telas pequenas */
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* evita quebrar em telas pequenas */
  font-size: 14px;
  font-weight: bolder;
}

.table thead {
  background-color: #1e1e2f;
  color: #fff;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ffffff;
  text-align: left;
  
}

.table tr:nth-child(even) {
  background-color: #353541;
}


/* Responsivo para telas menores */
@media (max-width: 768px) {
  .table {
    font-size: 12px;
    min-width: 100%;
  }

  .table th,
  .table td {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .tableContainer {
    box-shadow: none;
  }

  .table {
    border: 0;
  }

  .table thead {
    display: none; /* esconde o cabeçalho */
  }

  .table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .table td::before {
    content: attr(data-label); /* pega o nome da coluna */
    font-weight: bold;
    color: #333;
  }
}
