.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveBtn {
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}
.saveBtn:hover {
  background: #15803d;
}

.cancelBtn {
  background: #cf1b1b;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}
.cancelBtn:hover {
  background: #851a1a;
}
